<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" name="TextWriter"
             initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="AssemblyDatabase"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-9IGTB45;Initial Catalog=TPA4;Integrated Security=True"/>
  </connectionStrings>
</configuration>